.about-us-container {
    text-align: center;
    padding: 5%;
  }
  
  .about-us-image {
    width: 100%;
    height: 60vh;
    /* display: flex;
    justify-content: center;
    margin-top: 0; */
  }
  
  .about-us-content {
    margin-top: 20px;
  }
  
  .about-us-content h1 {
    /* display: flex;    */
    font-size: 2.5em;
    margin-bottom: 20px;
    z-index: 1;
    color: #6C223E;
    /* justify-content: center;
    bottom: 5em; */
  }
  
  .about-us-content p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  .list ul li {
    display:flex;   
    justify-content:center;
    margin: 10px 0 10px 0;

  }
  .heading{
    color:  #6C223E;
  }
  .offer-first{
    margin :3vh;
  }
  .Choose-us{
    margin :3vh;
  }
@media  screen and (max-width: 768px) {
  .about-us-image {
    height: 30vh;
    width: 100%;
}
.about-us-container{
  padding: 5%;
}

}