body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    
}

.card-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    /* background-color: yellow; */

    padding: 20px;
    /* background-color: red; */
}
.card:hover{
    cursor: pointer;
    color: rgb(255, 145, 0);
    box-shadow: 0 4px 15px rgba(255, 162, 2, 0.689);
    border-color: orange;

}

.card {
    /* background: rgba(255, 255, 255, 0.8);  */
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;;
    max-width: 300px;
    min-width: 300px;
    min-height: 190px;
    background-size: cover;
    margin-bottom: 20px; 
    color: rgba(36, 11, 11, 0.952);
    letter-spacing:3px;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: white;

}

.card h2 {
    margin-top: 0;
}
.card h1 {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .card-container {
        flex-direction: row; /* Switch to horizontal layout on larger screens */
        flex-wrap: wrap; /* Allow cards to wrap to the next line */
        justify-content: center;
    }
}