  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: linear-gradient(to right, #aa5717d4, #06693bbb); /* Example gradient colors */
    color: rgb(28, 31, 31);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;

    
  }
  
  .navbar__brand {
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* margin:15px; */
  }
  
  .navbar__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  @media screen and (max-width: 768px){
          
    .navbar{
       width: 100%;
       background-color: red;
     /* height: vh; */
    }
  .navbar{max-width: 100vh;
  min-width: 200px;
  }
  }