body{
    /* background-color: #f0e4d4; */
}
.carduu{
    /* background-color: red; */
    border-radius: 10px;
    /* max-width: 600px; */
    margin: 5px;
    /* max-width: 300px; */
    /* min-width: 300px; */
    min-height:50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #bce0f7;
    


}
.carduu:active{
    background-color: #72c8fa;
}
.carduu:hover{
    cursor:pointer;
}
.card-container{
    /* background-color: blue; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
}
.logo{
    size: 25;
    margin-left: 5px;
    color: #09ba15;
    stroke-width: 8px;
}
.allcard{
    margin-bottom: 50px;
    background-color: #FF6650;
    /* background-color: aliceblue; */
    color:white

}
.allcard:active{
    background-color: rgb(255, 72, 0);

}
.logoAll{
    size: 32px;
    color: rgb(250, 245, 245)

}
.logoLeft{
    margin-left: 7px;
}
@media  screen and (min-width: 768px) {
    
    .carduu{
        width: 75%;
        margin-left: 15%;
        /* background-color: yellow; */
    }
    .card-container{
        /* background-color: blue; */
        justify-content: center;
    }
}